{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_participant_image_upload/attendancelist
    Example context (json):
    {
        
    }
}}
<style>
    #student_image_listcss {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      #student_image_listcss td, #student_image_listcss th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      
      #student_image_listcss tr:nth-child(even){background-color: #f2f2f2;}
      
      #student_image_listcss tr:hover {background-color: #ddd;}
      
      #student_image_listcss th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #ddd;
        color: black;
      }
    </style>
<h1>{{ course_name }}</h1>
<label for="attendance_date">Date:</label>
<input type="date" id="attendance_date" name="attendance_date">
<button id="date_check">Check</button>
<hr />

<table border="1" id="student_image_listcss">
  <thead>
    <tr>
      <th>Student ID</th>
      <th>Student Name</th>
      <th>Attandance</th>
    </tr>
  </thead>
  <hr />
  <tbody>
    {{#studentlist}}
    <tr>
        <td>{{ id }}</td>
        <td>{{student}}</button>
        <td>
            {{#time}}
                <b style="color:green;">Present</b>
            {{/time}}
            {{^time}}
                 Absent
            {{/time}}
        </td>
      </td>
    </tr>
  </tbody>
  {{/studentlist}}
</table>
