{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_participant_image_upload/attendancelist
    Example context (json):
    {
        
    }
}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link rel="stylesheet" type="text/css" href="./thirdpartylibs/DataTables/datatables.css">
 
<script type="text/javascript" charset="utf8" src="./thirdpartylibs/DataTables/datatables.js"></script>
    
<h1>{{ course_name }}</h1>
<label for="from_date">From:</label>
<input type="date" id="from_date" name="from_date">
<label for="to_date">To:</label>
<input type="date" id="to_date" name="to_date">
<button class="btn btn-primary" id="date_check">
    {{#str}} check, local_participant_image_upload {{/str}}
</button>


<table class="table table-hover" border="1" id="data_table">
  <thead>
    <tr>
      <th class="bg-primary">{{#str}} student_name, local_participant_image_upload {{/str}}</th>
      <th class="bg-primary">{{#str}} email, local_participant_image_upload {{/str}}</th>
      <th class="bg-primary">{{#str}} attendance_text, local_participant_image_upload {{/str}}</th>
    </tr>
  </thead>
  <hr />
  <tbody>
    {{#studentlist}}
    <tr>
        <td>{{ firstname }} {{ lastname }}</td>
        <td>{{ email }} </td>
        <td>
            {{#time}}
                <b style="color:green;">{{#str}} present, local_participant_image_upload {{/str}}</b>
            {{/time}}
            {{^time}}
                <b>{{#str}} absent, local_participant_image_upload {{/str}}</b>
            {{/time}}
        </td>
      </td>
    </tr>
    {{/studentlist}}
  </tbody>
  
</table>

<script>
$(document).ready( function () {
    $('#data_table').DataTable();
} );
</script>

