{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_participant_image_upload/studentlist
    Example context (json):
    {
        
    }
}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="./thirdpartylibs/DataTables/datatables.css">
 
<script type="text/javascript" charset="utf8" src="./thirdpartylibs/DataTables/datatables.js"></script>

<script type="text/javascript" charset="utf8" src="./thirdpartylibs/chosenjs/chosen.jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="./thirdpartylibs/chosenjs/chosen.min.css">
 


<style>
  .chosen-container-single {
    width: 200px !important;
  }
</style>

<h1>{{ course_name }}</h1>

<a class="btn btn-primary mb-5" href="{{ courselist_url }}">
  {{#str}} course_list, local_participant_image_upload {{/str}}
</a>
<br>
<a class="btn btn-primary mb-5" href="{{ attandancelist_url }}">
  {{#str}} attendance_list, local_participant_image_upload {{/str}}
</a>

<table class="table table-hover" border="1" id="data_table">
  <thead>
    <tr>
      <th class="bg-primary">{{#str}} student_name, local_participant_image_upload {{/str}}</th>
      <th class="bg-primary">{{#str}} email, local_participant_image_upload {{/str}}</th>
      <th class="bg-primary">{{#str}} preview, local_participant_image_upload {{/str}}</th>
      <th class="bg-primary">{{#str}} action, local_participant_image_upload {{/str}}</th>
      <th class="bg-primary">Session wise attendance</th>
    </tr>
  </thead>
  <tbody>
    {{#studentlist}}
    <tr>
      <td>{{ firstname }} {{ lastname }}</td>
      <td>{{ email }}</td>
      <td>
        {{#image_url}}
        <img src="{{ image_url }}" width="150" height="auto" />
        {{/image_url}}
        {{^image_url}}
        <p style="color: red">{{#str}} notifiy_upload_text, local_participant_image_upload {{/str}}</p>
        {{/image_url}}
      </td>
      <td>
        <a class="btn btn-primary" href="{{redirecturl}}?cid={{ courseid }}&id={{ id }}" >
          {{#str}} upload_text, local_participant_image_upload {{/str}}
        </a>
      </td>
      <td>
        <select name="select" id="select-{{id}}" class="form-control" data-live-search="true">
          <option value="">Select a session</option>
          {{#sessions}} 
              <option value="{{session_id}}">{{session_name}}</option>
          {{/sessions}}
        </select>
        <button id="{{id}}" class="btn btn-primary give-attendance">Give Attendance</button>
      </td>
    </tr>
    {{/studentlist}}
  </tbody>
  
</table>

{{#studentlist}} 
<script>
$(document).ready( function () {
  $("#select-{{id}}").chosen()
});
</script>
{{/studentlist}}

<script>
$(document).ready( function () {
    $('#data_table').DataTable();
} );



</script>


