{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_participant_image_upload/studentlist
    Example context (json):
    {
        
    }
}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link rel="stylesheet" type="text/css" href="./thirdpartylibs/DataTables/datatables.css">
 
<script type="text/javascript" charset="utf8" src="./thirdpartylibs/DataTables/datatables.js"></script>

<h1>{{ course_name }}</h1>

<a class="btn btn-primary mb-5" href="{{ courselist_url }}">
  {{#str}} course_list, local_participant_image_upload {{/str}}
</a>
<br>
<a class="btn btn-primary mb-5" href="{{ attandancelist_url }}">
  {{#str}} attendance_list, local_participant_image_upload {{/str}}
</a>


<table class="table table-hover" border="1" id="data_table">
  <thead>
    <tr>
      <th class="bg-primary">{{#str}} student_name, local_participant_image_upload {{/str}}</th>
      <th class="bg-primary">{{#str}} email, local_participant_image_upload {{/str}}</th>
      <th class="bg-primary">{{#str}} preview, local_participant_image_upload {{/str}}</th>
      <th class="bg-primary">{{#str}} action, local_participant_image_upload {{/str}}</th>
      <th class="bg-primary">{{#str}} status, local_participant_image_upload {{/str}}</th>
    </tr>
  </thead>
  <tbody>
    {{#studentlist}}
    <tr>
      <td>{{ firstname }} {{ lastname }}</td>
      <td>{{ email }}</td>
      <td>
        {{#image_url}}
        <img src="{{ image_url }}" width="150" height="auto" />
        {{/image_url}}
        {{^image_url}}
        <p style="color: red">{{#str}} notifiy_upload_text, local_participant_image_upload {{/str}}</p>
        {{/image_url}}
      </td>
      <td>
        <a class="btn btn-primary" href="{{redirecturl}}?cid={{ courseid }}&id={{ id }}" >
          {{#str}} upload_text, local_participant_image_upload {{/str}}
        </a>
      </td>
      <td>
        
        {{#session}}
          {{#present}}
            {{#str}} attendance_given, local_participant_image_upload {{/str}}
          {{/present}}
          {{^present}}
            <a href="{{ actionurl }}?id={{id}}&cid={{ courseid }}&session_id={{ session_id }}" class="btn btn-primary">
              {{#str}} give_attendance, local_participant_image_upload {{/str}}
            </a>
          {{/present}}
        {{/session}}
        {{^session}}
          {{#str}} no_active_session, local_participant_image_upload {{/str}}
        {{/session}}
      </td>
    </tr>
    {{/studentlist}}
  </tbody>
  
</table>

<script>
$(document).ready( function () {
    $('#data_table').DataTable();
} );
</script>
